<section ng-controller="homesListController" ng-cloak>
    <div ng-hide="showList">
        <image src="images/loader.gif" alt="loading..." title="loading..." />
    </div>
    <div class="container" ng-show="showList">
        <div class="alert alert-danger" ng-show="error">{{error}}</div>
        <div class="alert alert-info" ng-show="showEmptyListMessage">There are no homes in the list. <a href="homes/new">Would you like to add a new one?</a></div>
        <div class="row home-list-item" ng-repeat="home in homes">
            <div class="col-sm-4">
                <img ng-src="images/homes/{{home.imageName || 'no-image-large.png'}}" class="img-responsive img-thmubnail" />
            </div>
            <div class="col-sm-8">
                <address>
                    <div class="h2">{{home.streetAddress}}</div>
                    {{home.city}}, CA {{home.zipcode}}
                </address>
                <table class="table tale-striped">
                    <tbody>
                        <tr>
                            <td>Price</td>
                            <td>{{home.price|number:0}}</td>
                        </tr>
                        <tr>
                            <td>Bedrooms</td>
                            <td>{{home.bedrooms}}</td>
                        </tr>
                        <tr>
                            <td>Bathrooms</td>
                            <td>{{home.bathrooms}}</td>
                        </tr>
                        <tr>
                            <td>Square Feet</td>
                            <td>{{home.squareFeet|number:0}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="lead">{{home.notes}}</div>
                <button class="btn btn-link" ng-click="delete($index)">Delete</button>
                <a ng-href="homes/edit/{{home.id}}/{{home.Address.split(' ').join('-')}}" class="btn btn-default">Edit</a>
            </div>
        </div>
    </div>
</section>