<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <!-- bower:css -->

    <!-- endbower -->
    <!-- inject:css -->

    <!-- endinject -->
</head>

<body>
    <h2><%=message%></h2>

    <!-- bower:js -->

    <!-- endbower -->
    <!-- inject:js -->

    <!-- endinject -->
</body>

</html>